* {
  /* UI Debug Border
  box-shadow: inset 0px 0px 0px 1px red;
  */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-synthesis: none;
  font-size: 1rem;
  color: #fff3e4;
  line-height: 1.1;
  text-decoration: none;
  overflow-x: visible;
  scroll-behavior: smooth;
  color-scheme: dark;
}
*::selection {
  background-color: rgba(205, 238, 255, 0.4);
}

:root {
  --default-animation-speed: 1;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
}
#background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#background::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 110, 255, 0.4156862745) 0%, transparent 20%);
  box-shadow: inset 0 0 20vw 0 rgba(205, 144, 103, 0.5333333333);
}

.text-space {
  position: relative;
  width: calc(100% - 8px);
}
.text-space button {
  cursor: pointer;
  position: absolute;
  right: calc(1rem + 3px);
  bottom: 1rem;
  min-width: 9rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.8666666667);
  border: 2px solid;
}
.text-space button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.text-space button:active {
  background-color: rgba(255, 255, 255, 0.7333333333);
}
.text-space #translate {
  border-color: rgba(0, 64, 149, 0.8666666667);
  color: rgba(0, 64, 149, 0.8666666667);
}
.text-space #copy {
  border-color: rgba(70, 55, 41, 0.8666666667);
  color: rgba(70, 55, 41, 0.8666666667);
}

textarea,
pre {
  overflow-x: hidden;
  overflow-y: visible;
  display: block;
  padding: 0.5rem;
  width: 100%;
  height: max(10rem, 30vh);
  flex-grow: 1;
  resize: none;
  white-space: pre-wrap;
  word-break: break-word;
  border: 2px solid #fff3e4;
}

textarea {
  background-color: rgba(92, 111, 154, 0.5333333333);
}
textarea:focus {
  background-color: rgba(102, 127, 181, 0.5333333333);
  outline-color: rgba(90, 106, 255, 0.6745098039);
  outline-style: solid;
  outline-width: 3px;
}

pre {
  background-color: rgba(164, 121, 82, 0.5333333333);
}

h1 {
  font-size: clamp(1.25rem, 7vw, 4rem);
  text-align: center;
  text-wrap: nowrap;
  line-height: 1;
  font-weight: 600;
}

#description {
  width: clamp(12rem, 100% - 13vw, 45rem);
  padding-top: 0.5rem;
}
#description summary {
  font-size: 1.1rem;
  font-weight: 600;
}
#description[open] summary {
  padding-bottom: 0.5rem;
}
#description hr {
  margin: 0.25rem 0;
  border: none;
  background-color: #fff3e4;
  height: 1px;
}

html,
body,
header {
  width: 100vw;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-height: 100%;
}

header {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}

main {
  width: clamp(12rem, 100% - 10vw, 60rem);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: 2rem;
}

/*# sourceMappingURL=style.css.map */
