@use "./rules/global" as g;
@use "./rules/mixins";

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(180deg, #006eff6a 0%, transparent 20%);
    box-shadow: inset 0 0 20vw 0 #cd906788;
  }
}
