@use "./rules/global" as g;
@use "./rules/mixins";

$clr-button-text-a: #004095dd;
$clr-button-text-b: #463729dd;

$clr-background-outline: #5a6affac;

$clr-background-a: #5c6f9a88;
$clr-background-b: #667fb588;
$clr-background-c: #a4795288;

.text-space {
  position: relative;
  width: calc(100% - 8px);

  button {
    cursor: pointer;

    position: absolute;
    right: calc(1rem + 3px);
    bottom: 1rem;

    min-width: 9rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;

    background-color: #ffffffdd;
    border: 2px solid;
    &:hover {
      background-color: #ffffff99;
    }
    &:active {
      background-color: #ffffffbb;
    }
  }

  #translate {
    border-color: $clr-button-text-a;
    color: $clr-button-text-a;
  }

  #copy {
    border-color: $clr-button-text-b;
    color: $clr-button-text-b;
  }
}

textarea,
pre {
  overflow-x: hidden;
  overflow-y: visible;
  display: block;

  padding: 0.5rem;
  width: 100%;
  height: max(10rem, 30vh);
  flex-grow: 1;

  resize: none;
  white-space: pre-wrap;
  word-break: break-word;

  border: 2px solid g.$clr-white;
}

textarea {
  background-color: $clr-background-a;
  &:focus {
    background-color: $clr-background-b;
    outline-color: $clr-background-outline;
    outline-style: solid;
    outline-width: 3px;
  }
}

pre {
  background-color: $clr-background-c;
}
