@use "./rules/global" as g;
@use "./rules/mixins";

html,
body,
header {
  width: 100vw;
}

html {
  height: 100%;
}

body {
  @include mixins.flex(column, center, center, 0.5rem);
  min-height: 100%;
}

header {
  padding-bottom: 1rem;
  @include mixins.flex(column, flex-start, center, 0);
}

main {
  width: clamp(12rem, 100% - 10vw, 60rem);
  @include mixins.flex(column, stretch, center, 2rem);
}
