$clr-white: #fff3e4;

* {
  /* UI Debug Border
  box-shadow: inset 0px 0px 0px 1px red;
  */

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Courier New", Courier, monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-synthesis: none;
  font-size: 1rem;

  color: $clr-white;

  line-height: 1.1;
  text-decoration: none;

  overflow-x: visible;
  scroll-behavior: smooth;

  color-scheme: dark;

  &::selection {
    background-color: #cdeeff66;
  }
}

:root {
  --default-animation-speed: 1;
}
