@use "./media-queries" as q;

$clr-white: #eeeeee;

$clr-background-a: #303745;
$clr-background-b: #272d39;

$clr-button-a: #ffffff44;
$clr-button-b: #ffffff66;
$clr-button-c: #ffffff88;

* {
  /* UI Debug Border
  box-shadow: inset 0px 0px 0px 1px red;
  */

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  font-size: 1rem;

  color: $clr-white;
  line-height: 1.5;
  text-decoration: none;

  overflow-x: hidden;
  scroll-behavior: smooth;

  color-scheme: dark;
}

:root {
  --default-animation-speed: 1;
}
